/* UTILITY CLASSES */
.right { float: right; }
.left { float: left; }
.text-align-right { text-align: right; }
.text-align-left { text-align: left; }
.text-align-center { text-align: center; }
.reset-margin { margin: 0; }
.full-width { width: 100%; }
/* END OF UTILITY CLASSES */

/* DEFAULTS */
html {
    height: 100%;
}
body {
    margin: 50pt 0 0 0;
    background-color: #ffffff;
    background-image: url(../source/images/cubes.png);
    height: 100%;
}
a {
    color: #007ee5;
    font: 14px 'Open Sans', sans-serif;
    text-decoration: none;
}
p, label, input {
    color: #3d464d;
    font: 14px 'Open Sans', sans-serif;
}
h2 {
    color: #ffffff;
    font: 200 28px 'Open Sans', sans-serif;
}
h3 {
    color: #3d464d;
    font: 200 20px 'Open Sans', sans-serif;
}
input[type="button"], button {
    background-color: #007ee5;
    color: #ffffff;
    width: 100px;
    height: 36px;
    border: 2px solid #007ee5;
    border-radius: 5px;
    margin: 20px 0 0 0;
}
input[type="button"]:hover, button:hover {
    background-color: #3297e9;
    cursor: pointer;
}
input[type=text], input[type=password], input[type=email], input[type=date], textarea{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    border: 2px solid #D0D4D9;
    width: calc(100% - 36px);
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    padding: 4px 16px;
    height: 24pt;
    border-radius: 8px;
    margin-bottom: 10px;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=date]:focus, textarea:focus {
    box-shadow: 0 0 7px rgba(91, 213, 255, 1);
    border: 2px solid rgba(91, 213, 255, 1);
}
input[type=checkbox] {
    margin-top: 18px;
    vertical-align: middle;
    position: relative;
    bottom: 8px;
}
/* END OF DEFAULTS */

/* APPLICABLE DEFAULTS */
.highlight {
    background-color: #007ee5;
    color: #ffffff;
    border-radius: 4px;
    padding: 2px 5px 2px 5px;
    margin: 0 3px;
}
.wrapper {
    width: 70%;
    margin: 0 15% 0 15%;
}
.divider {
    text-align: center;
    border-bottom: 1px solid #808080;
    height: 20px;
    width: 100%;
    margin-top: 6px;
}
.divider:before {
    content: 'of';
    position: relative;
    top: 10px;
    width: 100%;
    color: #595959;
    background-color: #f6f9fc;
    padding: 0 6px;
}
/* END OF APPLICABLE DEFAULTS */

/* NAVBAR */
nav {
    z-index: 999;
    background-color: #ffffff;
    width: 100%;
    height: 50pt;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #D0D4D9;
}
nav .logo {
    display: block;
    color: #007ee5;
    font: 26pt 'Open Sans', sans-serif;
    padding: 12pt 0;
    margin: 0;
    line-height: 26pt;
}
nav h1 {
    line-height: 50pt;
    color: #007ee5;
    font: 24pt 'Open Sans', sans-serif;
}
nav ul {
    display: inline;
}
nav ul > li {
    border: 2px solid transparent;
    box-sizing: border-box;
    height: 30pt;
    margin: 9pt 0 9pt 0;
    display: inline-table;
    vertical-align: top;
    position: relative;
}
nav ul > li > a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0 16pt;
}
nav ul > li:hover {
    border: 2px solid #2895F1;
    border-radius: 8px;
}
nav ul > li > .dropdown {
    display: none;
    position: absolute;
    width: 100%;
    margin: 30pt 0 0 0;
    top: 0;
    left: 0;
    padding: 0;
}
nav ul > li > .dropdown > li {
    width: 100%;
    margin: 0;
}
nav ul > li:hover > .dropdown {
    display: block;
}
/* END OF NAVBAR */

/* ENTRY AND FORMS */
.popup {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(37, 40, 43, 0.6);
    z-index: 1000;
}
.form-container {
    display: block;
    z-index: 300;
    position: relative;
    width: 360px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    background-color: #f6f9fc;
}
.form-container h3 {
    position: absolute;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #D0D4D9;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    height: 50pt;
    width: 100%;
    background-color: #ffffff;
    margin: -30px 0 0 -30px;
    padding: 0;
}
.form-container form {
    margin-top: 50pt;
}
.form-container form p{
    margin-bottom: 7px;
}
.form-container form table {
    width: 100%;
    margin-top: 16px;
}
.form-container form table td {
    margin: 0;
}
.close-popup {
    position: absolute;
    top: calc(25pt - 12px);
    right: calc(25pt - 12px);
    height: 24px;
    width: 24px;
    opacity: 0.3;
    cursor: pointer;
}
.close-popup:hover {
    opacity: 1;
}
.close-popup:before, .close-popup:after {
    position: absolute;
    left: 12px;
    content: ' ';
    height: 24px;
    width: 2px;
    background-color: #333;
}
.close-popup:before {
    transform: rotate(-45deg);
}
.close-popup:after {
    transform: rotate(45deg);
}
/* END OF ENTRY AND FORMS */

/* INDEX */
#content:before {
    content: "";
    position: absolute;
    -webkit-filter: grayscale(60%);
    filter: grayscale(60%);
    width: 100%;
    height: 100%;
    min-height: 50pt;
    background-size: cover;
    background-image: url('/source/images/header.jpg');
}
#content {
    position: absolute;
    margin: 0;
    top: 50pt;
    height: 80%;
    min-height: 50pt;
    width: 100%;
}
.entry {
    z-index: 3;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
    width: 25%;
    min-width: 300px;
    max-width: 380px;
}
/* END OF INDEX */

/* BIJLES GEVEN */
.blurb-container {
    width: 1200px;
    margin: 100px auto 50px auto;
    box-sizing: border-box;
}
.blurb {
    width: 400px;
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    text-justify: inter-word;
    padding: 0 20px 0 20px;
    box-sizing: border-box;
}
.blurb h5 {
    text-align: center;
    font-size: 18px;
    color: #007ee5;
    margin: 10px 0 16px 0;
    font-family: 'Open Sans', sans-serif;
}
.blurb div {
    text-align: center;
    height: 140px;
    position: relative;;
}
.blurb div img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
}
.big-divider {
    color: rgb(208, 212, 217);
    width: 70%;
    margin: 0 auto;
}
.grid {
    margin: 50px auto 0 auto;
    width: 1200px;
    box-sizing: border-box;
}
.tile-wrapper {
    width: 220px;
    height: 220px;
    display: inline-block;
    float: left; 
    margin: 10px;   
}
.tile {
    width: 220px;
    height: 220px;
    display: inline-flex;
    background-size: cover;
    background-clip: content-box;
    box-sizing: border-box;
    vertical-align: top;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    transform: scale(1);
    transition: 0.15s all ease;
}
.tile-wrapper:hover .tile {
    transform: scale(0.9);
    cursor: pointer;
}
.tile p a {
    background-color: #007ee5;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 800;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
}
@media screen and (max-width: 1640px) {
    .grid {
        width: 960px;
    }
    .wrapper {
        width: 80%;
        margin: 0 10% 0 10%;
    }
    .blurb-container {
        width: 960px;
    }
    .blurb {
        width: 320px;
    }
}
@media screen and (max-width: 1180px) {
    .grid {
        width: 720px;
    }
    .wrapper {
        width: 100%;
        margin: 0;
    }
    .blurb-container {
        width: 720px;
    }
    .blurb {
        width: 240px;
    }
}
@media screen and (max-width: 800px) {
    .grid {
        width: 480px;
    }
    .blurb-container {
        width: 480px;
    }
    .blurb {
        width: 480px;
    }
}
/* END OF BIJLES GEVEN */

/* OTHERS */
.header {
    background-image: url('/source/images/header.jpg');
    background-size: cover;
    -webkit-filter: grayscale(60%);
    filter: grayscale(60%);
    height: 360pt;
    width: 100%;
}
#caption {
    margin: 0;
    padding: 50px 0 50px 10%;
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}



.voorwaarden {
    position: relative;
}
.voorwaarden::after {
    color: white;
    content: "Algemene voorwaarden. tadaaaaaaa";
    opacity: 0;
    position: absolute;
    background-color: #292929;
    border-radius: 8px;
    padding: 0px;
    overflow: hidden;
    box-sizing: border-box;   
    width: 250px;
    height: 0px;
    top: -108px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s;
    overflow: hidden;
}
.voorwaarden:hover::after {
    opacity: 0.88;  
    height: 100px;
    padding: 8px;
}
